@font-face {
  font-family: HelveticaNeue;
  src:url("./assets/fonts/HelveticaNeueLTStd-Lt.otf");
}
@font-face {
  font-family: HelveticaNeueLight;
  src:url("./assets/fonts/HelveticaNeueLTStd-Md.otf");
}
body, html{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: HelveticaNeueLight;
}

input{
  margin: 5px;
  padding: 10px;
}

p{
    text-align: center;
}
span{text-align:center  }
.jumbotron{
    text-align: center;
}
.login{
  background-color: grey;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
.signup{
  background-color: grey;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
.commentBox{
  background-color: grey;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
button{
  margin: 5px;
  padding: 5px;
}